@import './header.css';
@import './nav.css';
@import './section.css';
@import './footer.css';

:root {
    --bgNav : rgb(223, 217, 217);
    --bgText :  rgba(255, 217, 0, 0.61)
}
body {
    margin: 0;
    padding: 0;
    background-color:  #18391ee1;
    color: rgb(255, 255, 255);
}

/* background slide */

#slideConteneur {
    position: absolute;
    left: 0;
    right: 0;
    top: 0%;
    width: 100%;
    height: 480px;
    animation: slideAnimate 20s ease-in-out infinite;
    background-size: cover;
}

@keyframes slideAnimate {
    0%, 100% {
        background-image: url("../assets/images/bgmoutain5.jpg");
    }
    25% {
        background-image: url("../assets/images/bgmoutain6.jpg");
    }
    50% {
        background-image: url("../assets/images/bgmoutain3.jpg");
    }
    75% {
        background-image: url("../assets/images/bgmoutain4.jpg");
    }
}
