:root {

}

body {
background: #04032E;
font-family: 'Times New Roman', Times, serif;
}

.blocPage {
    text-align: center;
    margin-top: 40px;

}

/* Container */
#spanDay {
    color: aliceblue;
    font-size: 1.4em;
    margin: 0 auto;
}
.addTodoItem{
    margin: auto;
}
.todoWrited {
    min-width: 174px;
    max-width: 200px;
    border: none;
    background: #FFFFFF;
}

.btnAddTodo {
    max-width: 41px;
    min-width: 41px;
    border: none;
    background: #FFFFFF;
}

.btnAddTodo:hover {
background: black;
color: white;
}

.ulRow {
    margin: 0 auto;
}
.row ul {
    color: aliceblue;
    width: 211px;
    margin-top: 10px;
    list-style-type: none;
}

.liRow {
    width: 211px;
    margin-left: auto;
}

/* .checked {
    margin: auto 0;
} */
.liInput {
    margin-left: auto;
    width: 170px;
}
.btnDelete {
    width: 41px;
    margin-right:auto;
}

