 footer {
background-color : var(--bgFooterColor) ;
margin-top: 30px;
padding: 10px;
}
footer .row:first-of-type{
 max-width: 1440px;
margin: 0 auto;
}
footer h5 {
    background-color: var(--bgTitle);
    min-width: 190px;
    max-width: 190px;
    text-align: center;
    margin: 0 auto;
}

footer .row p {
padding-top: 15px;
}

.mail::before {
    content: "📩 : ";
}
.telephone::before {
    content: "📞 : ";
}
.location::before {
    content: " 📍: ";
}

footer p {
    text-align: center;
} 

